<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshopping.product.mapper.PmsSpuInfoDescMapper">
  <resultMap id="BaseResultMap" type="com.onlineshopping.product.entity.PmsSpuInfoDesc">
    <!--@mbg.generated-->
    <!--@Table pms_spu_info_desc-->
    <id column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="decript" jdbcType="LONGVARCHAR" property="decript" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    spu_id, decript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pms_spu_info_desc
    where spu_id = #{spuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pms_spu_info_desc
    where spu_id = #{spuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.onlineshopping.product.entity.PmsSpuInfoDesc">
    <!--@mbg.generated-->
    insert into pms_spu_info_desc (spu_id, decript)
    values (#{spuId,jdbcType=BIGINT}, #{decript,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.onlineshopping.product.entity.PmsSpuInfoDesc">
    <!--@mbg.generated-->
    insert into pms_spu_info_desc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="decript != null">
        decript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="decript != null">
        #{decript,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshopping.product.entity.PmsSpuInfoDesc">
    <!--@mbg.generated-->
    update pms_spu_info_desc
    <set>
      <if test="decript != null">
        decript = #{decript,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where spu_id = #{spuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshopping.product.entity.PmsSpuInfoDesc">
    <!--@mbg.generated-->
    update pms_spu_info_desc
    set decript = #{decript,jdbcType=LONGVARCHAR}
    where spu_id = #{spuId,jdbcType=BIGINT}
  </update>


</mapper>