<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshopping.product.mapper.PmsSpuCommentMapper">
  <resultMap id="BaseResultMap" type="com.onlineshopping.product.entity.PmsSpuComment">
    <!--@mbg.generated-->
    <!--@Table pms_spu_comment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="member_nick_name" jdbcType="VARCHAR" property="memberNickName" />
    <result column="star" jdbcType="BOOLEAN" property="star" />
    <result column="member_ip" jdbcType="VARCHAR" property="memberIp" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="show_status" jdbcType="BOOLEAN" property="showStatus" />
    <result column="spu_attributes" jdbcType="VARCHAR" property="spuAttributes" />
    <result column="likes_count" jdbcType="INTEGER" property="likesCount" />
    <result column="reply_count" jdbcType="INTEGER" property="replyCount" />
    <result column="resources" jdbcType="VARCHAR" property="resources" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="member_icon" jdbcType="VARCHAR" property="memberIcon" />
    <result column="comment_type" jdbcType="TINYINT" property="commentType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sku_id, spu_id, spu_name, member_nick_name, star, member_ip, create_time, show_status, 
    spu_attributes, likes_count, reply_count, resources, content, member_icon, comment_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pms_spu_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pms_spu_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.product.entity.PmsSpuComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_spu_comment (sku_id, spu_id, spu_name, 
      member_nick_name, star, member_ip, 
      create_time, show_status, spu_attributes, 
      likes_count, reply_count, resources, 
      content, member_icon, comment_type
      )
    values (#{skuId,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, #{spuName,jdbcType=VARCHAR}, 
      #{memberNickName,jdbcType=VARCHAR}, #{star,jdbcType=BOOLEAN}, #{memberIp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{showStatus,jdbcType=BOOLEAN}, #{spuAttributes,jdbcType=VARCHAR}, 
      #{likesCount,jdbcType=INTEGER}, #{replyCount,jdbcType=INTEGER}, #{resources,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{memberIcon,jdbcType=VARCHAR}, #{commentType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.product.entity.PmsSpuComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_spu_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="spuName != null">
        spu_name,
      </if>
      <if test="memberNickName != null">
        member_nick_name,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="memberIp != null">
        member_ip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="showStatus != null">
        show_status,
      </if>
      <if test="spuAttributes != null">
        spu_attributes,
      </if>
      <if test="likesCount != null">
        likes_count,
      </if>
      <if test="replyCount != null">
        reply_count,
      </if>
      <if test="resources != null">
        resources,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="memberIcon != null">
        member_icon,
      </if>
      <if test="commentType != null">
        comment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="spuName != null">
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="memberNickName != null">
        #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=BOOLEAN},
      </if>
      <if test="memberIp != null">
        #{memberIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="showStatus != null">
        #{showStatus,jdbcType=BOOLEAN},
      </if>
      <if test="spuAttributes != null">
        #{spuAttributes,jdbcType=VARCHAR},
      </if>
      <if test="likesCount != null">
        #{likesCount,jdbcType=INTEGER},
      </if>
      <if test="replyCount != null">
        #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="resources != null">
        #{resources,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberIcon != null">
        #{memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="commentType != null">
        #{commentType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshopping.product.entity.PmsSpuComment">
    <!--@mbg.generated-->
    update pms_spu_comment
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        spu_id = #{spuId,jdbcType=BIGINT},
      </if>
      <if test="spuName != null">
        spu_name = #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="memberNickName != null">
        member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=BOOLEAN},
      </if>
      <if test="memberIp != null">
        member_ip = #{memberIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="showStatus != null">
        show_status = #{showStatus,jdbcType=BOOLEAN},
      </if>
      <if test="spuAttributes != null">
        spu_attributes = #{spuAttributes,jdbcType=VARCHAR},
      </if>
      <if test="likesCount != null">
        likes_count = #{likesCount,jdbcType=INTEGER},
      </if>
      <if test="replyCount != null">
        reply_count = #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="resources != null">
        resources = #{resources,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberIcon != null">
        member_icon = #{memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="commentType != null">
        comment_type = #{commentType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshopping.product.entity.PmsSpuComment">
    <!--@mbg.generated-->
    update pms_spu_comment
    set sku_id = #{skuId,jdbcType=BIGINT},
      spu_id = #{spuId,jdbcType=BIGINT},
      spu_name = #{spuName,jdbcType=VARCHAR},
      member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      star = #{star,jdbcType=BOOLEAN},
      member_ip = #{memberIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      show_status = #{showStatus,jdbcType=BOOLEAN},
      spu_attributes = #{spuAttributes,jdbcType=VARCHAR},
      likes_count = #{likesCount,jdbcType=INTEGER},
      reply_count = #{replyCount,jdbcType=INTEGER},
      resources = #{resources,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      member_icon = #{memberIcon,jdbcType=VARCHAR},
      comment_type = #{commentType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>