<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshopping.ware.mapper.WareSkuMapper">
  <resultMap id="BaseResultMap" type="com.onlineshopping.ware.entity.WareSku">
    <!--@mbg.generated-->
    <!--@Table wms_ware_sku-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="ware_id" jdbcType="BIGINT" property="wareId" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="stock_locked" jdbcType="INTEGER" property="stockLocked" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sku_id, ware_id, stock, sku_name, stock_locked
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wms_ware_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from wms_ware_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.ware.entity.WareSku" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wms_ware_sku (sku_id, ware_id, stock, 
      sku_name, stock_locked)
    values (#{skuId,jdbcType=BIGINT}, #{wareId,jdbcType=BIGINT}, #{stock,jdbcType=INTEGER}, 
      #{skuName,jdbcType=VARCHAR}, #{stockLocked,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.ware.entity.WareSku" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wms_ware_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="wareId != null">
        ware_id,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="stockLocked != null">
        stock_locked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="wareId != null">
        #{wareId,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="stockLocked != null">
        #{stockLocked,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshopping.ware.entity.WareSku">
    <!--@mbg.generated-->
    update wms_ware_sku
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="wareId != null">
        ware_id = #{wareId,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="stockLocked != null">
        stock_locked = #{stockLocked,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshopping.ware.entity.WareSku">
    <!--@mbg.generated-->
    update wms_ware_sku
    set sku_id = #{skuId,jdbcType=BIGINT},
      ware_id = #{wareId,jdbcType=BIGINT},
      stock = #{stock,jdbcType=INTEGER},
      sku_name = #{skuName,jdbcType=VARCHAR},
      stock_locked = #{stockLocked,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAll" resultMap="BaseResultMap">
    select * from wms_ware_sku where 1=1
    <if test="params.wareId !=null and params.wareId !=0">
      and ware_id=#{params.wareId}
    </if>
    <if test="params.skuId !=null and params.skuId !=0">
      and sku_id=#{params.skuId}
    </if>
    </select>



  <select id="selectBySkuIdAndWareId" resultMap="BaseResultMap">
    select  * from wms_ware_sku where sku_id=#{param1,jdbcType=BIGINT} and ware_id=#{param2,jdbcType=BIGINT}
  </select>

  <select id="selectBySkuId" resultType="int">
    <!--总库存数减去锁定库存数>0-->
    select sum(stock-stock_locked) from wms_ware_sku where sku_id=#{skuId,jdbcType=BIGINT}
  </select>

  <select id="selectInfoBySkuId" resultMap="BaseResultMap">
    select * from wms_ware_sku where sku_id=#{skuId,jdbcType=BIGINT}
  </select>

  <select id="listWareIdHasStock" resultType="java.lang.Long">
    select ware_id from wms_ware_sku where sku_id=#{skuId,jdbcType=BIGINT} and stock-stock_locked > 0
  </select>

  <update id="lockStock">
    update wms_ware_sku set stock_locked = stock_locked + #{num,jdbcType=INTEGER} where sku_id=#{skuId,jdbcType=BIGINT} and ware_id=#{wareId,jdbcType=BIGINT} and stock-stock_locked >= #{num,jdbcType=INTEGER}
  </update>
</mapper>