<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshopping.coupon.mapper.SkuFullReductionMapper">
  <resultMap id="BaseResultMap" type="com.onlineshopping.coupon.entity.SkuFullReduction">
    <!--@mbg.generated-->
    <!--@Table sms_sku_full_reduction-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="full_price" jdbcType="DECIMAL" property="fullPrice" />
    <result column="reduce_price" jdbcType="DECIMAL" property="reducePrice" />
    <result column="add_other" jdbcType="BOOLEAN" property="addOther" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sku_id, full_price, reduce_price, add_other
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sms_sku_full_reduction
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sms_sku_full_reduction
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.coupon.entity.SkuFullReduction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sms_sku_full_reduction (sku_id, full_price, reduce_price, 
      add_other)
    values (#{skuId,jdbcType=BIGINT}, #{fullPrice,jdbcType=DECIMAL}, #{reducePrice,jdbcType=DECIMAL}, 
      #{addOther,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.coupon.entity.SkuFullReduction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sms_sku_full_reduction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="fullPrice != null">
        full_price,
      </if>
      <if test="reducePrice != null">
        reduce_price,
      </if>
      <if test="addOther != null">
        add_other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="fullPrice != null">
        #{fullPrice,jdbcType=DECIMAL},
      </if>
      <if test="reducePrice != null">
        #{reducePrice,jdbcType=DECIMAL},
      </if>
      <if test="addOther != null">
        #{addOther,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshopping.coupon.entity.SkuFullReduction">
    <!--@mbg.generated-->
    update sms_sku_full_reduction
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="fullPrice != null">
        full_price = #{fullPrice,jdbcType=DECIMAL},
      </if>
      <if test="reducePrice != null">
        reduce_price = #{reducePrice,jdbcType=DECIMAL},
      </if>
      <if test="addOther != null">
        add_other = #{addOther,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshopping.coupon.entity.SkuFullReduction">
    <!--@mbg.generated-->
    update sms_sku_full_reduction
    set sku_id = #{skuId,jdbcType=BIGINT},
      full_price = #{fullPrice,jdbcType=DECIMAL},
      reduce_price = #{reducePrice,jdbcType=DECIMAL},
      add_other = #{addOther,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>