<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshopping.member.mapper.IntegrationChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.onlineshopping.member.entity.IntegrationChangeHistory">
    <!--@mbg.generated-->
    <!--@Table ums_integration_change_history-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="change_count" jdbcType="INTEGER" property="changeCount" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="source_tyoe" jdbcType="TINYINT" property="sourceTyoe" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, member_id, create_time, change_count, note, source_tyoe
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ums_integration_change_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from ums_integration_change_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.member.entity.IntegrationChangeHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ums_integration_change_history (member_id, create_time, change_count, 
      note, source_tyoe)
    values (#{memberId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{changeCount,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR}, #{sourceTyoe,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.onlineshopping.member.entity.IntegrationChangeHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ums_integration_change_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="changeCount != null">
        change_count,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="sourceTyoe != null">
        source_tyoe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeCount != null">
        #{changeCount,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="sourceTyoe != null">
        #{sourceTyoe,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshopping.member.entity.IntegrationChangeHistory">
    <!--@mbg.generated-->
    update ums_integration_change_history
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeCount != null">
        change_count = #{changeCount,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="sourceTyoe != null">
        source_tyoe = #{sourceTyoe,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshopping.member.entity.IntegrationChangeHistory">
    <!--@mbg.generated-->
    update ums_integration_change_history
    set member_id = #{memberId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      change_count = #{changeCount,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      source_tyoe = #{sourceTyoe,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>